<footer class="footer pt-large bg-light-1" id="page-footer" data-arts-theme-text="dark"
   data-arts-fixed-reveal="data-arts-fixed-reveal" data-arts-fixed-reveal-from="-15vh"
   data-arts-fixed-reveal-from-opacity="0.1">
   <div class="footer__inner">
      <div class="container">
         <div class="row justify-content-between position-relative pt-3 pb-1">

            <div class="col-md-4 text-center my-3">
               <div class="footer-logo-wrap">
                  <img class="logo__img-primary" src="/assets/img/logo/logo-light.png" alt="Logo">
               </div>
               <ul class="social">
                  <li class="social__item"><a class="social__icon fa-fw fab fa-facebook-f" href="#" target="_blank"></a>
                  </li>
                  <li class="social__item"><a class="social__icon fa-fw fab fa-instagram" href="#" target="_blank"></a>
                  </li>
               </ul>
            </div>

            <div class="col-md-4 order-md-first">
                  <div class="textwidget text-center text-md-start mt-5">
                     <p>Ul. Zbigniewa Romaszewskiego 6/59<br>01-892 Warszawa<br>studio@callyoursoul.pl</p>
                  </div>
            </div>

            <div class="col-md-4 d-none d-md-block">
               <div class="textwidget text-center text-md-end mt-5">
                  <ul class="menu text-md-end">
                     <li class="menu-item"><a href="masaz-kobido">Masaż Kobido</a></li>
                     <li class="menu-item"><a href="masaz-dzwiekiem">Masaż dźwiękiem</a></li>
                     <li class="menu-item"><a href="sesje-terapeutyczne">Sesje terapeutyczne</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="row align-items-center position-relative pt-5 pb-4">
            <div class="col-md-6">
                  <div class="textwidget text-center text-md-end">
                     <a href="/polityka-prywatnosci"><small>Polityka prywatności</small></a>&nbsp;
                     <a href="/regulamin"><small>Regulamin</small></a>&nbsp;
                     <a href="/rodo"><small>RODO</small></a>
                  </div>
            </div>
            <div class="col-md-6 order-md-first">
                  <div class="textwidget text-center text-md-start">
                     <p><small>© {{ date }} Call Your Soul</small></p>
                  </div>
            </div>
         </div>
      </div>
   </div>
</footer>