<footer class="footer pt-large bg-light-1" id="page-footer" data-arts-theme-text="dark" data-arts-fixed-reveal="data-arts-fixed-reveal" data-arts-fixed-reveal-from="-15vh" data-arts-fixed-reveal-from-opacity="0.1">
               <div class="footer__inner">
                  <div class="container">
                     <div class="row pb-md-3">
                        <div class="col">
                           <section class="widget widget_text">
                              <h3>
                              Call Your Soul
                              </h3>
                           </section>
                        </div>
                     </div>
                     <div class="row justify-content-between position-relative pt-3 pb-1">
                        <div class="col-lg-3 col-sm-6">
                           <section class="widget widget_text">
                              <div class="textwidget">
                                 <p>Ul. Zbigniewa Romaszewskiego 6/59<br>01-892 Warszawa<br>studio@callyoursoul.pl</p>                                
                              </div>
                           </section>
                        </div>
                        <div class="col-lg-3 col-sm-6 d-flex align-items-end justify-content-end-t">
                           <section class="widget widget_kinsey_social">
                              <ul class="social">
                                 <li class="social__item"><a class="social__icon fa-fw fab fa-facebook-f" href="https://www.facebook.com/stronyinternetowefutureweb" target="_blank"></a></li>
                                 <li class="social__item"><a class="social__icon fa-fw fab fa-instagram" href="https://www.linkedin.com/in/przemys%C5%82aw-miros-6b6b431a2/" target="_blank"></a></li>
                                 <li class="social__item"><a class="social__icon fa-fw fab fa-behance" href="https://github.com/PrzemekMiros" target="_blank"></a></li>
                              </ul>
                           </section>
                        </div>
                     </div>
                     <div class="row align-items-center position-relative pt-5 pb-4">
                        <section class="widget widget_text">
                           <div class="textwidget">
                              <p><small>© {{ date }} Call Your Soul</small></p>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </footer>