
<!DOCTYPE html>
<html lang="pl">
   <head>
      <meta charset="utf-8"/>
      <meta http-equiv="x-ua-compatible" content="ie=edge"/>
      <title>{{ title }} - Call your Soul</title>
      <meta name="description" content="{{ description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <meta content="telephone=no" name="format-detection"/>
      <meta name="HandheldFriendly" content="true"/>
      <!-- No Index Tag -->
      <meta name="robots" content="noindex">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link rel="preload" href="/assets/js/vendor.js" as="script" type="application/javascript"/>
      <link rel="preload" href="/assets/js/components.js" as="script" type="application/javascript"/>
      <link rel="preload" href="/assets/fonts/MaterialIcons-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Marcellus&display=swap" rel="stylesheet"> 
      <!-- Template Vendor's Stylesheet -->
      <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css"/>
      <!-- Template Main Stylesheet -->
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
      <!-- Favicons & App Icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png"/>
      <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png"/>
      <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png"/>
      <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png"/>
      <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png"/>
      <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png"/>
      <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png"/>
      <link rel="apple-touch-icon" sizes="152x152" href="/ssets/img/favicons/apple-icon-152x152.png"/>
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png"/>
      <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png"/>
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png"/>
      <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png"/>
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png"/>
      <link rel="manifest" href="/assets/img/favicons/manifest.json"/>
      <meta name="msapplication-TileColor" content="#ffffff"/>
      <meta name="msapplication-TileImage" content="/assets/img/favicons/ms-icon-144x144.png"/>
      <meta name="theme-color" content="#ffffff"/>
      <link rel="icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico"/>
      <!-- Opengraph -->
      <meta property="og:title" content="{{ title }} - Call your Soul" />
      <meta property="og:type" content="image" />
      <meta property="og:image" content="/assets/img/opengraph.png" />
   </head>
   <body>

      <div data-barba="wrapper">

      <!-- PAGE PRELOADER --
      <div class="preloader preloader_header-menu-hidden mask-reveal" id="js-preloader" data-arts-theme-text="dark" data-arts-preloader-logo="primary">
        <div class="mask-reveal__layer mask-reveal__layer-1 bg-light-2">
          <div class="mask-reveal__layer mask-reveal__layer-2">
               <div class="preloader__wrapper container">
              		<div class="preloader__content js-preloader__content mb-2">
                		<img src="/assets/img/logo/logo-light.png">
              		</div>
				   	<div class="preloader__counter preloader__counter_started underline js-preloader__counter">00%</div>
			   </div>
          </div>
        </div>
      </div>
         --- PAGE PRELOADER -->
         <!-- PAGE HEADER -->
        <header class="header js-header-sticky header_fixed header_menu-center" id="page-header" 
        data-arts-theme="bg-light-1" 
        data-arts-theme-text="dark" 
        data-arts-header-sticky-theme="bg-light-1" 
        data-arts-header-sticky-theme-text="dark" 
        data-arts-header-overlay-theme-text="light"
        >
            <!-- top bar -->
            <div class="container-xl header__controls">
               <div class="row align-items-center justify-content-between">
                  <!-- logo -->
                  <div class="col-auto col-md-2">
                     <a class="logo" href="/">
                        <div class="logo__wrapper-img">
                           <img class="logo__img-primary" src="/assets/img/logo/logo-light.png" alt="Logo"/>
                        </div>
                     </a>
                  </div>
                  <!-- desktop menu-->
                  <div class="col-auto header__col d-none d-lg-block col-md-8">
                     <ul class="menu js-menu text-center">
                        <li class="nav-border">
                           <a href="/masaz-kobido" title="SMasaż Kobido">Masaż Kobido</a>
                        </li>
                        <li class="nav-border">
                           <a href="/masaz-dzwiekiem" title="Masaż dźwiękiem">Masaż dźwiękiem</a>
                        </li>
                        <li class="nav-border">
                           <a href="/sesje-terapeutyczne" title="Sesje terapeutyczne">Sesje terapeutyczne</a>
                        </li>
                        <li class="nav-border">
                           <a href="/o-nas" title="O nas">O nas</a>
                        </li>
                        <li class="nav-border">
                           <a href="/kontakt" title="KOntakt">Kontakt</a>
                        </li>
                     </ul>
                  </div>
                  <!-- - desktop menu -->
                  <div class="col-auto widget-area widget-area_no-margin-last-widget col-md-2 d-none d-lg-flex justify-content-end">
                  <section class="widget widget_kinsey_social">
                     <a href="#" class="button" data-modal="modal-one">Zarezerwuj online</a>
                  </section>
                  </div>
                  <!-- burger icon -->
                  <div class="col-auto header__col d-flex align-items-center d-lg-none">
                     <div class="ms-auto header__burger" id="js-burger" data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.7" data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true">
                        <div class="header__burger-line"></div>
                        <div class="header__burger-line"></div>
                        <!-- burger labels -->
                        <div class="header__label header__burger-label">
                           <div class="header__label-burger header__label-burger_inner header__label-burger_closed-open">Menu</div>
                           <div class="header__label-burger header__label-burger_inner header__label-burger_closed-hover">Otwórz</div>
                           <div class="header__label-burger header__label-burger_inner header__label-burger_opened-open">Zamknij</div>
                           <div class="header__label-burger header__label-burger_inner header__label-burger_opened-hover">Zamknij</div>
                        </div>
                     </div>
                  </div>
                  <div class="header__overlay-menu-back" id="js-submenu-back" data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.7" data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true">
                     <i class="material-icons">arrow_back</i>
                     <div class="header__label header__label_status">
                        <div class="js-header-label-submenu"></div>
                     </div>
                     <div class="header__label header__label_opened-back">Wróć</div>
                  </div>
               </div>
            </div>
            <!-- - top bar -->
            <div class="header__wrapper-overlay-menu" data-arts-theme-text="light">
               <div class="mask-reveal w-100 h-100">
                  <div class="mask-reveal__layer mask-reveal__layer-1 bg-dark-1">
                     <div class="mask-reveal__layer mask-reveal__layer-2">
                        <div class="row align-items-center h-100">
                           <div class="header__menu-column h-100 d-flex flex-column position-relative bg-dark-2">
                              <!-- top gradient-->
                              <div class="header__menu-gradient header__menu-gradient_top"></div>
                              <div class="header__scroll-container js-header-smooth-scroll-container overflow pointer-events-auto">
                                 <div class="container">
                                    <ul class="menu-overlay js-menu-overlay">
                                       <li>
                                          <a href="/masaz-kobido" data-pjax-link="overlayMenu" title="Masaż Kobido">
                                             <div class="menu-overlay__item-wrapper arts-split-text js-arts-split-text" data-arts-split-text="lines,words" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                                                <span class="menu-overlay__subheading small mb-1">01</span>
                                                <div class="menu-overlay__heading h3">Masaż Kobido</div>
                                             </div>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="/masaz-dzwiekiem" data-pjax-link="overlayMenu" title="Masaż dźwiękiem">
                                             <div class="menu-overlay__item-wrapper arts-split-text js-arts-split-text" data-arts-split-text="lines,words" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                                                <span class="menu-overlay__subheading small mb-1">02</span>
                                                <div class="menu-overlay__heading h3">Masaż dźwiękiem</div>
                                             </div>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="/sesje-terapeutyczne" data-pjax-link="overlayMenu" title="Sesje terapeutyczne">
                                             <div class="menu-overlay__item-wrapper arts-split-text js-arts-split-text" data-arts-split-text="lines,words" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                                                <span class="menu-overlay__subheading small mb-1">03</span>
                                                <div class="menu-overlay__heading h3">Sesje terapeutyczne</div>
                                             </div>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="/o-nas" data-pjax-link="overlayMenu" title="O nas">
                                             <div class="menu-overlay__item-wrapper arts-split-text js-arts-split-text" data-arts-split-text="lines,words" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                                                <span class="menu-overlay__subheading small mb-1">04</span>
                                                <div class="menu-overlay__heading h3">O nas</div>
                                             </div>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="/kontakt" data-pjax-link="overlayMenu" title="Kontakt">
                                             <div class="menu-overlay__item-wrapper arts-split-text js-arts-split-text" data-arts-split-text="lines,words" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                                                <span class="menu-overlay__subheading small mb-1">05</span>
                                                <div class="menu-overlay__heading h3">Kontakt</div>
                                             </div>
                                          </a>
                                       </li>
                                       <li>
                                          <a data-modal="modal-one" data-pjax-link="overlayMenu" title="Zarezerwuj online">
                                             <div class="menu-overlay__item-wrapper arts-split-text js-arts-split-text" data-arts-split-text="lines,words" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                                                <span class="menu-overlay__subheading small mb-1">06</span>
                                                <div class="menu-overlay__heading h3">Zarezerwuj online</div>
                                             </div>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>

         <div class="modal-form" id="modal-one">
  <div class="modal-bg modal-exit"></div>
  <div class="modal-container">
  <div id="bookero"></div>
    <span class="modal-close modal-exit">X</span>
  </div>
</div>

<script type="text/javascript">
  var bookero_config = {
    id: 'XUXVPbMTHwq4',
    container: 'bookero',
    type: 'calendar',
    position: '',
    plugin_css: true,
    lang: 'pl'
  };

  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://cdn.bookero.pl/plugin/v2/js/bookero-compiled.js';
  d.body.appendChild(s);
  })();
</script>

            <!-- PAGE MAIN CONTAINER -->
         <div class="js-smooth-scroll bg-light-1" id="page-wrapper" data-barba="container">
            <!-- PAGE CONTENT -->
            <main class="page-wrapper__content">
