<section class="section section-masthead text-center pt-xlarge pt-md-large bg-light-1" data-arts-os-animation="true">
    <div class="container">
        <h1 class="xl section-masthead__heading d-inline-block my-0 arts-split-text js-arts-split-text js-transition-heading"
            data-arts-split-text="lines,words,chars" data-arts-split-text-set="chars"
            data-arts-split-text-set-direction="y" data-arts-split-text-set-distance="100%"
            data-arts-split-text-overflow-wrap="lines">
            {{ title }}
        </h1>
    </div>
</section>