<section class="section section-content pt-xlarge pb-medium bg-light-2">
  <div 
    class="container section-content__content content js-arts-split-text arts-split-text text-md-center"
    data-arts-os-animation="true"
    data-arts-os-animation-name="animateText"
    data-arts-os-animation-params="{stagger: {amount: 0.3, from: 'left'}}"
    data-arts-split-text="lines"
    data-arts-split-text-set="lines"
    data-arts-split-text-overflow-wrap="lines"
    >
    <h1>
    {{ title }}
    </h1>
  </div>
</section>

