<section class="section section-content pt-large pb-xsmall" data-arts-theme-text="dark">
<div class="pt-medium desk-none"></div>
  <div 
    class="container-sm section-content__content content js-arts-split-text arts-split-text"
    data-arts-os-animation="true"
    data-arts-os-animation-name="animateText"
    data-arts-os-animation-params="{stagger: {amount: 0.3, from: 'left'}}"
    data-arts-split-text="lines"
    data-arts-split-text-set="lines"
    data-arts-split-text-overflow-wrap="lines"
    >

    <div class="breadcrumbs-wrap">
    <i class="material-icons">home</i><span>Główna</span>
    <i class="material-icons">navigate_next</i><span>Blog</span>
    <i class="material-icons">navigate_next</i><span><?php the_title(); ?></span>
    </div>
    
    <h1 class="mt-4">
       {{ title }}
    </h1>

    <div class="taxonomy-wrap">
    <i class="material-icons">event</i><span>Graphic design</span>
    <i class="material-icons">subject</i><span>Opublikowano 12 stycznia 2021 </span>
    <i class="material-icons">supervisor_account</i><span>Przemek</span>
    </div>

  </div>
</section>

<section class="section section-masthead pb-small" data-arts-os-animation="true">
              <div class="section__content">
                <div class="container-md">
                  <div class="row">
                    <div class="col">
                      <div class="mask-reveal js-transition-img js-arts-parallax overflow" data-arts-parallax-factor-y="0.15">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <div class="js-arts-parallax__scrub js-transition-img__transformed-el"><img src="../assets/img/blog/web-design.jpg" width="1920" height="1280" alt="alt"/></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</section>