<section class="section d-flex flex-wrap align-items-center">
   <div class="col-lg-6 py-large container-fluid ps-lg-0 bg-light-2">
      <div class="section_w-container-right text-start">
         <section class="section section-content">
            <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
               <div class="section-content__subline h6">Napisz albo zadzwoń</div>
               <h2 class="h2 mb-lg-0 mb-3">Skontaktuj się</h2>
               <p>Would not emotionally resonate — we decided to represent Brontide's benefits with visuals of raw ingredients </p>
               <div class="d-inline-block mt-4 pointer-events-auto" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                  <a class="button_icon" href="#" data-arts-hover="trigger">
                     <span class="button__label button__label-normal">
                        <span class="button__title">Kontakt</span>
                        <span class="button__icon button__icon_after knz-arrow-right">
                        </span>
                     </span>
                     <span class="button__label button__label-hover">
                        <span class="button__title">Kontakt</span>
                        <span class="button__icon button__icon_after knz-arrow-right"></span>
                     </span>
               </a>                        
            </div>
            </div>
         </section>
      </div>
   </div>
   <div class="col-lg-6 order-lg-2 py-large container-fluid bg-light-3">
      <div class="text-start">
         <section class="section section-content">
            <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines"
               data-arts-theme-text="dark">
               <div class="section-content__subline h6">Zarezerwuj online</div>
               <h2 class="h2 mb-lg-0 mb-3">Umów wizytę</h2>
               <p>Sister piqued living her you enable mrs off spirit really. Parish oppose repair is me misery. Quick may saw style after money mrs.</p>
               <div class="d-inline-block mt-4 pointer-events-auto" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
               <a class="button_icon" href="#" data-arts-hover="trigger">
                     <span class="button__label button__label-normal">
                        <span class="button__title">Rezerwacja</span>
                        <span class="button__icon button__icon_after knz-arrow-right">
                        </span>
                     </span>
                     <span class="button__label button__label-hover">
                        <span class="button__title">Rezerwacja</span>
                        <span class="button__icon button__icon_after knz-arrow-right"></span>
                     </span>
               </a>                        
            </div>
            </div>
         </section>
      </div>
   </div>
</section>