                    <div id="services" class="pt-medium mt-minus-medium"></div>
                    <section class="section py-medium bg-light-1">
                      <div class="container">
                        <div class="row align-items-center justify-content-between g-4">
                          <div class="col-lg-5">
                            <section class="section section-content">
                              <div class="section-content__content content js-arts-split-text arts-split-text" 
                              data-arts-os-animation="true" 
                              data-arts-os-animation-name="animateText" 
                              data-arts-split-text="lines" 
                              data-arts-split-text-set="lines" 
                              data-arts-split-text-overflow-wrap="lines"
                              >
                                <h2 class="mt-1">Nasze usługi</h2>
                              </div>
                            </section>
                          </div>
                          <div class="col-lg-6">
                            <section class="section section-content">
                              <div class="section-content__content content js-arts-split-text arts-split-text" 
                              data-arts-os-animation="true" 
                              data-arts-os-animation-name="animateText" 
                              data-arts-split-text="lines" 
                              data-arts-split-text-set="lines" 
                              data-arts-split-text-overflow-wrap="lines"
                              >
                                <p>
                                  Jesteśmy profesjonalnym salonem oferującym masaż Kobido, sesje dźwiękowe przy użyciu mis, spotkania z coachami i psychologami. 
                                </p>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                    </section>