<section class="section section-image section-content bg-gray-4 section_h-900">
            <div class="mask-reveal js-arts-parallax overflow w-100 h-100" data-arts-parallax-factor-y="0.15" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'up'}">
              <div class="mask-reveal__layer mask-reveal__layer-1">
                <div class="mask-reveal__layer mask-reveal__layer-2">
                  <div class="js-arts-parallax__scrub w-100 h-100"><img class="of-cover lazy-bg" src="#" data-src="assets/img/general/awards.jpg" width="1920" height="1280" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </section>