<section class="section section-content pt-small pb-medium bg-light-1">
  <div class="container">
    <div class="row g-4">
      <div class="col-6 col-lg-3 p-relative pb-xsmall">
        <div class="icon-item mb-5" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <img src="/assets/img/icons/icon-1.png" alt="">
        </div>
        <div
          class="js-arts-split-text arts-split-text"
          data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-split-text="lines"
          data-arts-split-text-set="lines"
          data-arts-split-text-overflow-wrap="lines">
          <h2 class="h4">
            Masaż <br/>Kobido
          </h2>
        </div>
        <div class="" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <a class="button_icon" href="/masaz-kobido" data-arts-hover="trigger">
            <span class="button__label button__label-normal">
              <span class="button__title">Więcej</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
            <span class="button__label button__label-hover">
              <span class="button__title">Zobacz</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
          </a>
        </div>
        <!-- LINE -->
        <div class="section__headline__vertical__wrap section section-content">
          <div
            class="section__headline__vertical headline-reveal mb-md-4 mb-3"
            data-arts-os-animation="true"
            data-arts-os-animation-name="animateScale"></div>
        </div>
        <!-- END LINE -->
      </div>
      <div class="col-6 col-lg-3 p-relative pb-xsmall">
        <div class="icon-item mb-5" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <img src="/assets/img/icons/icon-2.png" alt="">
        </div>
        <div
          class="js-arts-split-text arts-split-text"
          data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-split-text="lines"
          data-arts-split-text-set="lines"
          data-arts-split-text-overflow-wrap="lines">
          <h2 class="h4">
            Masaż <br/>dźwiękiem
          </h2>
        </div>
        <div class="" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <a class="button_icon" href="/masaz-dzwiekiem" data-arts-hover="trigger">
            <span class="button__label button__label-normal">
              <span class="button__title">Więcej</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
            <span class="button__label button__label-hover">
              <span class="button__title">Zobacz</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
          </a>
        </div>
        <!-- LINE -->
        <div class="section__headline__vertical__wrap section section-content">
          <div
            class="section__headline__vertical headline-reveal mb-md-4 mb-3"
            data-arts-os-animation="true"
            data-arts-os-animation-name="animateScale"></div>
        </div>
        <!-- END LINE -->
      </div>
      <div class="col-6 col-lg-3 p-relative pb-xsmall">
        <div class="icon-item mb-5" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <img src="/assets/img/icons/icon-3.png" alt="">
        </div>
        <div
          class="js-arts-split-text arts-split-text"
          data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-split-text="lines"
          data-arts-split-text-set="lines"
          data-arts-split-text-overflow-wrap="lines">
          <h2 class="h4">
            Sesje <br/>terapeutyczne
          </h2>
        </div>
        <div class="" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <a class="button_icon" href="/sesje-terapeutyczne" data-arts-hover="trigger">
            <span class="button__label button__label-normal">
              <span class="button__title">Więcej</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
            <span class="button__label button__label-hover">
              <span class="button__title">Zobacz</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
          </a>
        </div>
        <!-- LINE -->
        <div class="section__headline__vertical__wrap section section-content">
          <div
            class="section__headline__vertical headline-reveal mb-md-4 mb-3"
            data-arts-os-animation="true"
            data-arts-os-animation-name="animateScale"></div>
        </div>
        <!-- END LINE -->
      </div>
      <div class="col-6 col-lg-3 p-relative pb-xsmall">
        <div class="icon-item mb-5" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <img src="/assets/img/icons/icon-4.png" alt="">
        </div>
        <div
          class="js-arts-split-text arts-split-text"
          data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-split-text="lines"
          data-arts-split-text-set="lines"
          data-arts-split-text-overflow-wrap="lines">
          <h2 class="h4">
            Zarezerwuj <br/>online
          </h2>
        </div>
        <div class="" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
          <a class="button_icon" href="/zarezerwuj-online" data-arts-hover="trigger">
            <span class="button__label button__label-normal">
              <span class="button__title">Więcej</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
            <span class="button__label button__label-hover">
              <span class="button__title">Zobacz</span>
              <span class="button__icon button__icon_after knz-arrow-right"></span>
            </span>
          </a>
        </div>
        <!-- LINE -->
        <div class="section__headline__vertical__wrap section section-content">
          <div
            class="section__headline__vertical headline-reveal mb-md-4 mb-3"
            data-arts-os-animation="true"
            data-arts-os-animation-name="animateScale"></div>
        </div>
        <!-- END LINE -->
      </div>
    </div>
  </div>
</section>