          <!-- section SLIDER IMAGES -->
          <section class="section section-slider-images pt-xsmall pb-medium">
            <div>
              <div class="slider slider-images js-slider-images text-center">
                <div class="slider-images__slider swiper-container js-slider-images__slider" 
                data-autoplay-enabled="true" 
                data-autoplay-delay="3000" 
                data-slides-per-view="5"
                data-slides-per-view-tablet="3" 
                data-slides-per-view-mobile="2"  
                data-drag-mouse="true" 
                data-drag-cursor="true" 
                data-drag-label="Przesuń" 
                data-drag-hide-cursor="true" 
                data-drag-class="slider-images_scale-up" 
                data-keyboard-enabled="true" 
                data-touch-ratio="1"
                >
                  <div class="swiper-wrapper">
                    <!-- item -->
                    <div class="swiper-slide slider-images__slide overflow my-auto">
                      <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <img class="swiper-lazy" src="#" data-src="/assets/img/content/1.png" width="304" height="304" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- item -->
                    <div class="swiper-slide slider-images__slide overflow my-auto">
                      <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <img class="swiper-lazy" src="#" data-src="/assets/img/content/4.png" width="240" height="321" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- item -->
                    <div class="swiper-slide slider-images__slide overflow my-auto">
                      <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <img class="swiper-lazy" src="#" data-src="/assets/img/content/3.png" width="1120" height="670" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- item -->
                    <div class="swiper-slide slider-images__slide overflow my-auto">
                      <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <img class="swiper-lazy" src="#" data-src="/assets/img/content/5.png" width="1120" height="670" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- item -->
                    <div class="swiper-slide slider-images__slide overflow my-auto">
                      <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <img class="swiper-lazy" src="#" data-src="/assets/img/content/2.png" width="1120" height="670" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- item -->
                    <div class="swiper-slide slider-images__slide overflow my-auto">
                      <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <img class="swiper-lazy" src="#" data-src="/assets/img/content/6.png" width="1120" height="670" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="is-dragging__blocker"></div>
                </div>
              </div>
            </div>
          </section>
          <!-- - section SLIDER IMAGES -->