<section class="section section-slider-images pt-large pb-large">
   <div class="container">
      <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-os-animation-params="{stagger:{amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
         data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
         <div class="h6 color-accent">Zobacz wybrane</div>
         <h2 class="my-3">Realizacje</h2>
      </div>
      <div class="pt-xsmall desk-none"></div>
      <div class="slider slider-images js-slider-images">
         <div class="slider-images__slider swiper-container js-slider-images__slider slider_vertical-centered" data-auto-height="true" 
         data-autoplay-enabled="true" 
         data-autoplay-delay="3000" 
         data-slides-per-view-tablet="1.5" 
         data-slides-per-view-mobile="1.25" 
         data-drag-mouse="true" 
         data-drag-cursor="true" 
         data-drag-label="Złap" 
         data-drag-hide-cursor="true" 
         data-drag-class="slider-images_scale-up" 
         data-keyboard-enabled="true"
         data-touch-ratio="2" 
         data-slides-per-view="2">
            <div class="swiper-wrapper">
               <div class="swiper-slide slider-images__slide overflow">
                  <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                     <div class="mask-reveal__layer mask-reveal__layer-1">
                        <div class="mask-reveal__layer mask-reveal__layer-2">
                           <img class="swiper-lazy" src="#" data-src="assets/img/projects/001.jpg" width="1250" height="800" alt="" /> 
                        </div>
                     </div>
                  </div>
                  <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-os-animation-params="{stagger:{amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
                  data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                  <h3 class="my-4">Realizacja 1</h2>
                  </div>
               </div>
               <div class="swiper-slide slider-images__slide overflow">
                  <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                     <div class="mask-reveal__layer mask-reveal__layer-1">
                        <div class="mask-reveal__layer mask-reveal__layer-2"><img class="swiper-lazy" src="#" data-src="assets/img/projects/002.jpg" width="1250" height="800" alt="" /> </div>
                     </div>
                  </div>
                  <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-os-animation-params="{stagger:{amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
                  data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                  <h3 class="my-4">Realizacja 1</h2>
                  </div>
               </div>
               <div class="swiper-slide slider-images__slide overflow">
                  <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                     <div class="mask-reveal__layer mask-reveal__layer-1">
                        <div class="mask-reveal__layer mask-reveal__layer-2"><img class="swiper-lazy" src="#" data-src="assets/img/projects/003.jpg" width="1250" height="800" alt="" /> </div>
                     </div>
                  </div>
                  <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-os-animation-params="{stagger:{amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
                  data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                  <h3 class="my-4">Realizacja 1</h2>
                  </div>
               </div>
               <div class="swiper-slide slider-images__slide overflow">
                  <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                     <div class="mask-reveal__layer mask-reveal__layer-1">
                        <div class="mask-reveal__layer mask-reveal__layer-2"><img class="swiper-lazy" src="#" data-src="/assets/img/projects/001.jpg" width="1250" height="800" alt="" /> </div>
                     </div>
                  </div>
                  <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-os-animation-params="{stagger:{amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
                  data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                  <h3 class="my-4">Realizacja 1</h2>
                  </div>
               </div>
               <div class="swiper-slide slider-images__slide overflow">
                  <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                     <div class="mask-reveal__layer mask-reveal__layer-1">
                        <div class="mask-reveal__layer mask-reveal__layer-2"><img class="swiper-lazy" src="#" data-src="assets/img/projects/002.jpg" width="1250" height="800" alt="" /> </div>
                     </div>
                  </div>
                  <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-os-animation-params="{stagger:{amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
                  data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                  <h3 class="my-4">Realizacja 1</h2>
                  </div>
               </div>
               <div class="swiper-slide slider-images__slide overflow">
                  <div class="mask-reveal overflow" data-arts-os-animation="true" data-arts-os-animation-name="animateMask" data-arts-os-animation-params="{direction: 'right'}">
                     <div class="mask-reveal__layer mask-reveal__layer-1">
                        <div class="mask-reveal__layer mask-reveal__layer-2"><img class="swiper-lazy" src="#" data-src="assets/img/projects/003.jpg" width="1250" height="800" alt="" /> </div>
                     </div>
                  </div>
                  <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-os-animation-params="{stagger:{amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
                  data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                  <h3 class="my-4">Realizacja 1</h2>
                  </div>
               </div>
            </div>
            <div class="is-dragging__blocker"></div>
         </div>
         <div class="slider__wrapper-scrollbar mt-3 text-center" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
            <div class="slider__scrollbar slider__scrollbar_horizontal js-slider__scrollbar slider__scrollbar_horizontal_long"></div>
         </div>
         <div class="slider__arrow slider__arrow_absolute slider__arrow_left js-slider__arrow-prev" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{x: -30, y: 0}">
            <div class="slider__arrow material-icons js-slider__arrow-prev" data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.7" data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true">keyboard_arrow_left</div>
         </div>
         <div class="slider__arrow slider__arrow_absolute slider__arrow_right js-slider__arrow-next" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{x: 30, y: 0}">
            <div class="slider__arrow material-icons js-slider__arrow-next" data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="1.7" data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true">keyboard_arrow_right</div>
         </div>
      </div>
   </div>
</section>