---
layout: base.njk
title: Main
---

   {% include 'module/hero.njk' %}
   {% include 'module/description.njk' %}
   {% include 'module/services.njk' %}
   {% include 'module/slider.njk' %}
   {% include 'module/banner-brief.njk' %}