---
layout: base.njk
title: Skontaktuj się
description: Tutaj znajdziesz dane kontaktowe. Masz pytania? Chętnie odpowiemy
---

<section class="section section-masthead text-center pt-xlarge pb-medium bg-light-1" data-arts-os-animation="true">
  <div class="container-fluid">
    <h1
      class="xl section-masthead__heading d-inline-block my-0 arts-split-text js-arts-split-text js-transition-heading"
      data-arts-split-text="lines,words,chars" data-arts-split-text-set="chars" data-arts-split-text-set-direction="y"
      data-arts-split-text-set-distance="100%" data-arts-split-text-overflow-wrap="lines">
      {{ title }}
    </h1>
    <p class="script-text section-masthead__heading mt-minus-xsmall mb-minus-xsmall arts-split-text js-arts-split-text js-transition-heading"
      data-arts-split-text="lines,words,chars" data-arts-split-text-set="chars" data-arts-split-text-set-direction="y"
      data-arts-split-text-set-distance="100%" data-arts-split-text-overflow-wrap="lines">
      Call Your Soul
    </p>
  </div>
</section>

<section class="section section-content pb-large">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center mt-5">
        <div class="section-content__content content" data-arts-os-animation="true"
          data-arts-os-animation-name="animateJump">
          <svg class="contact-icon" xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 48 48" fill="none">
            <rect x="11.5" y="2.5" width="24" height="43" rx="1.5" stroke="var(--color-accent-1)"></rect>
            <rect x="20" y="7" width="7" height="1" fill="var(--color-accent-1)"></rect>
            <circle cx="23.5" cy="39.5" r="1.5" fill="var(--color-accent-1)"></circle>
          </svg>
        </div>
        <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-os-animation-params="{stagger: {amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
          data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
          <h3 class="mt-4 mb-1">Dane kontaktowe</h3>
          <p>
            <a href="tel:+48 870 979 797">+48 870 979 797</a><br />
            <a href="mailto:studio@callyoursoul.pl">studio@callyoursoul.pl</a>
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center mt-5">
        <div class="section-content__content content" data-arts-os-animation="true"
          data-arts-os-animation-name="animateJump">
          <svg class="contact-icon" xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 48 48" fill="none">
            <circle cx="24.5" cy="24.5" r="19" stroke="var(--color-accent-1)"></circle>
            <path d="M24 12.5V25.5L30 31.5" stroke="var(--color-accent-1)"></path>
          </svg>
        </div>
        <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-os-animation-params="{stagger: {amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
          data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
          <h3 class="mt-4 mb-1">Godziny pracy</h3>
          <p>
            Pn - Pt: 8.00 - 16.00 <br />
            Sobota: 9.00 - 14.00
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center mt-5">
        <div class="section-content__content content" data-arts-os-animation="true"
          data-arts-os-animation-name="animateJump">
          <svg class="contact-icon" xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 48 48" fill="none">
            <path
              d="M39.5 18.5C39.5 22.9086 37.6893 26.8697 34.714 31.1637C32.7635 33.9788 30.3434 36.8965 27.6388 40.1573C26.3183 41.7493 24.93 43.4232 23.4953 45.2068C22.2962 43.7506 21.1349 42.3668 20.022 41.0407C16.9832 37.4197 14.3051 34.2285 12.2027 31.1656C9.2574 26.8745 7.5 22.9121 7.5 18.5C7.5 9.66344 14.6634 2.5 23.5 2.5C32.3366 2.5 39.5 9.66344 39.5 18.5Z"
              fill="none" stroke="var(--color-accent-1)"></path>
            <circle cx="23.5" cy="17.5" r="6" fill="none" stroke="var(--color-accent-1)"></circle>
          </svg>
        </div>
        <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-os-animation-params="{stagger: {amount: 0.3, from: 'left'}}" data-arts-split-text="lines"
          data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
          <h3 class="mt-4 mb-1">Lokalizacja</h3>
          <p>ul. Zbigniewa Romaszewskiego 6/59 <br />01-892 Warszawa</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section FORM -->
<section class="section section-form section-content bg-light-1 pb-medium">
  <div class="container container_px-xs-0">
    <div class="row">

      <div class="col-lg-6" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">

        <form class="form form-contact js-ajax-form bg-light-3 p-small" action="/forms/form-to-email.php" method="POST"
          data-message-success="Wysłano wiadomość. Dostaniesz odpowiedź najszybciej jak to możliwe."
          data-message-error="Coś poszło nie tak. Spróbuj jeszcze raz.">
          <div class="row form__row">
            <!-- input #1 -->
            <div class="col-12 col-lg-6 form__col">
              <label class="input-float js-input-float">
                <input class="input-float__input" type="text" name="visitor_name" required="required"
                  data-msg="Wpisz swoje imię" />
                <span class="input-float__label">Imię i nazwisko</span>
                <span class="form__error"></span>
              </label>
            </div>
            <!-- - input #1 -->
            <!-- input #2 -->
            <div class="col-12 col-lg-6 form__col">
              <label class="input-float js-input-float">
                <input class="input-float__input" type="email" name="visitor_email" required="required"
                  data-msg="Wpisz adres e-mail" />
                <span class="input-float__label">Adres e-mail</span>
                <span class="form__error"></span>
              </label>
            </div>
            <!-- - input #2 -->
          </div>
          <!-- input #3 -->
          <div class="row form__row">
            <div class="col form__col">
              <label class="input-float js-input-float">
                <textarea class="input-float__input input-float__input_textarea" name="visitor_msg"></textarea>
                <span class="input-float__label">Wiadomość</span>
                <span class="form__error"></span>
              </label>
            </div>
          </div>
          <!-- - input #4 -->
          <label class="input-float js-input-float surname">
            <input type="text" name="visitor_surname">
          </label>
          <!-- - input #5 -->
          <label for="">
            <small class="checkbox-text">Wysyłając formularz wyrażasz zgodę na przetwarzanie swoich danych osobowych w
              celu przesłania na
              wskazany adres informacji.</small>
          </label>
          <!-- submit -->
          <div class="row form__row">
            <div class="col form__col form__col_submit">
              <button class="button">
                <span class="button__label">
                  <span class="button__title">Wyślij</span>
                </span>
              </button>
            </div>
          </div>
          <!-- - submit -->
        </form>

      </div>

      <div class="col-lg-6">
        <div class="section-content__content content" data-arts-os-animation="true"
          data-arts-os-animation-name="animateJump">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2441.513222670153!2d20.95306751579812!3d52.270383979767686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb76b5e82e89%3A0xd0c31cd96813e459!2sZbigniewa%20Romaszewskiego%206%2C%2001-892%20Warszawa!5e0!3m2!1spl!2spl!4v1667681879774!5m2!1spl!2spl"
            width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- - section FORM -->

</main>