---
layout: base.njk
title: Masaż dźwiękiem
description: Muzyka towarzyszyła człowiekowi od zarania dziejów. Misy jako prastare narzędzia do wydobywania dźwięków dziś przeżywają renesans i niosą ukojenie dla całego organizmu.
---

<section class="section section-masthead text-center pt-xlarge pt-md-large bg-light-1" data-arts-os-animation="true">
  <div class="container-fluid">
    <h1
      class="xl section-masthead__heading d-inline-block my-0 arts-split-text js-arts-split-text js-transition-heading"
      data-arts-split-text="lines,words,chars" data-arts-split-text-set="chars" data-arts-split-text-set-direction="y"
      data-arts-split-text-set-distance="100%" data-arts-split-text-overflow-wrap="lines">
      {{ title }}
    </h1>
    <p class="script-text section-masthead__heading mt-minus-xsmall mb-minus-xsmall arts-split-text js-arts-split-text js-transition-heading"
      data-arts-split-text="lines,words,chars" data-arts-split-text-set="chars" data-arts-split-text-set-direction="y"
      data-arts-split-text-set-distance="100%" data-arts-split-text-overflow-wrap="lines">
      Call Your Soul
    </p>
  </div>
  <div class="section-masthead__wrapper-content mt-0 pb-large">
    <div class="section__content">
      <div class="container">
        <div class="row mt-medium">
          <div class="col">
            <div class="mask-reveal js-transition-img js-arts-parallax overflow" data-arts-parallax-factor-y="0.15" 
            data-arts-os-animation-params="{direction: 'down'}">
              <div class="mask-reveal__layer mask-reveal__layer-1">
                <div class="mask-reveal__layer mask-reveal__layer-2">
                  <div class="js-arts-parallax__scrub js-transition-img__transformed-el" data-arts-os-animation-params="{direction: 'down'}"><img
                      src="/assets/img/content/sec-2.jpg" width="1920" height="1280" alt="alt" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-masthead__info container text-center">
        <div class="row justify-content-center mt-small" data-arts-os-animation="true"
          data-arts-os-animation-name="animateText">
          <div class="col-lg-8">
            <h2 class="section-masthead__text h3 arts-split-text js-arts-split-text" data-arts-split-text="lines"
              data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">Muzyka towarzyszyła
              człowiekowi od zarania dziejów. Misy jako prastare narzędzia do wydobywania dźwięków dziś przeżywają
              renesans i niosą ukojenie dla całego organizmu.</h2>
            <div class="section__headline headline-reveal my-4" data-arts-os-animation="true"
              data-arts-os-animation-name="animateHeadline"></div>
            <p class="section-masthead__text arts-split-text js-arts-split-text" data-arts-split-text="lines"
              data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines"> Dobroczynne działanie fal
              emitowanych przez misy reguluje pracę komórek, wycisza umysł tym samym redukuje poziom stresu.</p>
          </div>
        </div>
        <div class="row justify-content-center mt-xsmall section-masthead__button" data-arts-os-animation="true"
          data-arts-os-animation-name="animateJump">
          <div class="col-lg-8"><a href="#"
              class="button button-circle js-arts-cursor-no-highlight button_bordered bg-dark-1 button-circle_big"
              data-modal="modal-one" data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="current"
              data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true"><span
                class="button-circle__label button__label button__label-normal"><span
                  class="button__title">Zarezerwuj</span></span><span
                class="button-circle__label button__label button__label-hover"><span
                  class="button__title">Zarezerwuj</span></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__bg top-offset top-offset_large js-transition-bg bg-light-2"
      data-background-color="var(--color-light-2)"></div>
  </div>
</section> 

</main>