---
layout: page.njk
title: Masaż dźwiękiem
description: Muzyka towarzyszyła człowiekowi od zarania dziejów. Misy jako prastare narzędzia do wydobywania dźwięków dziś przeżywają renesans i niosą ukojenie dla całego organizmu.
---

   <section class="section section-masthead text-center pt-xlarge pt-md-large bg-light-1" data-arts-os-animation="true">
            <div class="container-fluid">
              <h1 class="xl section-masthead__heading d-inline-block my-0 arts-split-text js-arts-split-text js-transition-heading" data-arts-split-text="lines,words,chars" data-arts-split-text-set="chars" data-arts-split-text-set-direction="y" data-arts-split-text-set-distance="100%" data-arts-split-text-overflow-wrap="lines">
                {{ title }}
              </h1>
            </div>
            <div class="section-masthead__wrapper-content mt-small pb-large">
              <div class="section__content">
                <div class="container">
                  <div class="row mt-medium">
                    <div class="col">
                      <div class="mask-reveal js-transition-img js-arts-parallax overflow" data-arts-parallax-factor-y="0.15">
                        <div class="mask-reveal__layer mask-reveal__layer-1">
                          <div class="mask-reveal__layer mask-reveal__layer-2">
                            <div class="js-arts-parallax__scrub js-transition-img__transformed-el"><img src="/assets/img/content/sec-2.jpg" width="1920" height="1280" alt="alt"/></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section-masthead__info container text-center">
                  <div class="row justify-content-center mt-small" data-arts-os-animation="true" data-arts-os-animation-name="animateText">
                    <div class="col-lg-8">
                      <h2 class="section-masthead__text h3 arts-split-text js-arts-split-text" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">Muzyka towarzyszyła człowiekowi od zarania dziejów. Misy jako prastare narzędzia do wydobywania dźwięków dziś przeżywają renesans i niosą ukojenie dla całego organizmu.</h2>
                      <p class="section-masthead__text arts-split-text js-arts-split-text" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines"> Dobroczynne działanie fal emitowanych przez misy reguluje pracę komórek, wycisza umysł tym samym redukuje poziom stresu.</p>
                    </div>
                  </div>
                  <div class="row justify-content-center mt-xsmall section-masthead__button" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <div class="col-lg-8"><a class="button button-circle js-arts-cursor-no-highlight button_bordered bg-dark-1 button-circle_big"  data-modal="modal-one" data-arts-cursor="data-arts-cursor" data-arts-cursor-scale="current" data-arts-cursor-magnetic="data-arts-cursor-magnetic" data-arts-cursor-hide-native="true"><span class="button-circle__label button__label button__label-normal"><span class="button__title">Zarezerwuj</span></span><span class="button-circle__label button__label button__label-hover"><span class="button__title">Zarezerwuj</span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section__bg top-offset top-offset_large js-transition-bg bg-light-2" data-background-color="var(--color-light-2)"></div>
            </div>
          </section>

          <!-- section NAV PROJECTS -->
          <section class="container-fluid section section-nav-projects section-fullheight text-center bg-light-1" data-arts-fixed-reveal="true" data-arts-fixed-reveal-from="-33vh" data-arts-fixed-reveal-disabled-at="max-width: 767px" data-arts-prefetch-enabled="true" data-arts-theme-text="dark">
            <!-- content -->
            <div class="section-nav-projects__inner container section-fullheight__inner">
              <!-- header -->
              <header class="section-nav-projects__header" data-arts-cursor="data-arts-cursor" data-arts-cursor-hide-native="true" data-arts-cursor-label="Zobacz" data-arts-cursor-scale="2.2" data-arts-cursor-color="#fff" data-arts-cursor-background-color="#111"><a class="section-nav-projects__link pointer-events-none js-arts-cursor-no-highlight" href="/sesje-terapeutyczne" data-pjax-link="autoScrollNext">
                  <!-- helping labels -->
                  <div class="section-nav-projects__subheading small mb-1"><span class="section-nav-projects__label section-nav-projects__label_next">Kolejna strona</span><span class="section-nav-projects__label section-nav-projects__label_scroll">Przewiń w dół</span></div>
                  <!-- - helping labels -->
                  <h2 class="section-nav-projects__heading h1 my-0 section-nav-projects__progress-underline underline js-transition-heading arts-split-text js-arts-split-text" data-arts-split-text="lines,words,chars">Sesje terapeutyczne</h2></a></header>
              <!-- - header-->
              <!-- next image-->
              <div class="section-nav-projects__next-image mt-xsmall mx-auto js-transition-img" data-arts-cursor="true" data-arts-cursor-hide-native="true">
                <div class="section-nav-projects__wrapper-image h-100">
                  <div class="js-arts-parallax overflow h-100" data-arts-parallax="true" data-arts-parallax-factor-y="0.15">
                    <div class="js-arts-parallax__scrub js-transition-img__transformed-el">
                      <div class="lazy-wrapper">
                        <div class="lazy"><img src="#" data-src="/assets/img/content/sec-3.jpg" width="1920" height="1280" alt=""/></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- - next image-->
            </div>
            <!-- - content -->
            <!-- spacing element -->
            <div class="section-nav-projects__spacer d-md-block d-none"></div>
            <!-- - spacing element-->
          </section>
          <!-- - section NAV PROJECTS -->
   
   </main>


